body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

ul {
    display: flex;
    gap: 20px;
}

.teste01 {
    background-color: red;
    padding: 10px 0;
}

.teste02 {
    background-color: red;
    padding: 10px 0;
}

.teste03 {
    background-color: red;
    padding: 10px 0;
}


p {
    width: 220px;
    height: 40px;
    text-align: center;
}

.teste003 {
    padding: 40px 0;
}